itk==5.2.1.post1
itk-core==5.2.1.post1
itk-filtering==5.2.1.post1
itk-io==5.2.1.post1
itk-numerics==5.2.1.post1
itk-registration==5.2.1.post1
itk-segmentation==5.2.1.post1
itsdangerous==2.1.2
joblib==1.1.0
matplotlib==3.5.2
monai==0.9.0
nibabel==4.0.1
numpy==1.23.0
pandas==1.4.3
scikit-image==0.19.3
scikit-learn==1.1.1
scipy==1.10.0
seaborn==0.11.2
SimpleITK==2.1.1.2
torch==1.12.0
torchvision==0.13.0
